<template>
    <div id="immport" class="full height">
        <div class="ui header segment">
            <div class="ui container">
                <div class="introduction">
                    <h2 class="ui huge header">
                        Infrastructure Browser
                    </h2>
                </div>
            </div>
        </div>
        <div class="ui main container">
            <div class="ui dividing left rail">
                <div class="ui sticky" sui-sticky>
                    <div class="ui vertical following fluid accordion text menu" sui-accordion>
                        <div class="item">
                            <a class="active title">
                                <i class="dropdown icon"></i>
                                <b>Route 53</b>
                            </a>
                            <div class="active content menu"></div>
                        </div>
                        <div class="item">
                            <a class="active title">
                                <i class="dropdown icon"></i>
                                <b>VPC</b>
                            </a>
                            <div class="active content menu">
                                <a class="item" repeat.for="vpc of vpcs" href="#${vpc.id}">${vpc.name}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="ui header">
                <img class="ui image" src="assets/images/aws/route53.svg">
                Route53
            </h2>
            <div class="ui styled accordion" sui-accordion>
                <div repeat.for="hostedZone of route53 | orderBy:'name'">
                    <div class="title">
                        <i class="dropdown icon"></i> ${hostedZone.name}
                    </div>
                    <div class="content">
                        <table class="ui celled striped table">
                            <thead>
                                <tr>
                                    <th colspan="3">Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <strong>id</strong>
                                    </td>
                                    <td>
                                        <code>${hostedZone.id}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>name</strong>
                                    </td>
                                    <td>
                                        <code>${hostedZone.name}</code>
                                    </td>
                                </tr>
                                <tr if.bind="hostedZone.description">
                                    <td class="collapsing">
                                        <strong>description</strong>
                                    </td>
                                    <td>
                                        <code>${hostedZone.description}</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 if.bind="vpc.elb" class="ui header">
                <img class="ui small image" src="assets/images/aws/elb.svg">
                ELB
            </h4>
            <div if.bind="vpc.elb" class="ui styled accordion" sui-accordion>
                <div repeat.for="lb of vpc.elb | orderBy:'name'">
                    <div class="title">
                        <i class="dropdown icon"></i> ${lb.name}
                    </div>
                    <div class="content">
                        <table class="ui celled striped table">
                            <thead>
                                <tr>
                                    <th colspan="3">Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <strong>id</strong>
                                    </td>
                                    <td>
                                        <code>${lb.id}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>name</strong>
                                    </td>
                                    <td>
                                        <code>${lb.name}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>dnsName</strong>
                                    </td>
                                    <td>
                                        <code>${lb.dnsName}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>type</strong>
                                    </td>
                                    <td>
                                        <code>${lb.type}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>state</strong>
                                    </td>
                                    <td>
                                        <code>${lb.state}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>vpc</strong>
                                    </td>
                                    <td>
                                        <code>${lb.vpcId}</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 if.bind="vpc.rds" class="ui header">
                <img class="ui small image" src="assets/images/aws/rds.svg">
                RDS
            </h4>
            <div if.bind="vpc.rds" class="ui styled accordion" sui-accordion>
                <div repeat.for="rdsDatabase of vpc.rds | orderBy:name">
                    <div class="title">
                        <i class="dropdown icon"></i> ${rdsDatabase.name}
                    </div>
                    <div class="content">
                        <table class="ui celled striped table">
                            <thead>
                                <tr>
                                    <th colspan="3">Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <strong>name</strong>
                                    </td>
                                    <td>
                                        <code>${rdsDatabase.name}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>class</strong>
                                    </td>
                                    <td>
                                        <code>${rdsDatabase.class}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>engine</strong>
                                    </td>
                                    <td>
                                        <code>${rdsDatabase.engine}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>engine version</strong>
                                    </td>
                                    <td>
                                        <code>${rdsDatabase.engineVersion}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapsing">
                                        <strong>vpc</strong>
                                    </td>
                                    <td>
                                        <code>${rdsDatabase.vpcId}</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h2 class="ui header">
                <img class="ui image" src="assets/images/aws/vpc.svg">
                VPC
            </h2>
            <div repeat.for="vpc of vpcs">
                <h3 class="ui header">
                    <a class="anchor" id="${vpc.id}"></a>
                    ${vpc.name}
                    <div class="sub header">
                        <strong>id:</strong>
                        ${vpc.id}
                    </div>
                    <div class="sub header">
                        <strong>state:</strong>
                        ${vpc.state}
                    </div>
                </h3>
                <h4 if.bind="vpc.ec2" class="ui header">
                    <img class="ui small image" src="assets/images/aws/ec2.svg">
                    EC2
                </h4>
                <div if.bind="vpc.ec2" class="ui styled accordion" sui-accordion>
                    <div repeat.for="ec2Instance of vpc.ec2 | orderBy:'name'">
                        <div class="title">
                            <i class="dropdown icon"></i> ${ec2Instance.name}
                        </div>
                        <div class="content">
                            <table class="ui celled striped table">
                                <thead>
                                    <tr>
                                        <th colspan="3">Attributes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>name</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.name}</code>
                                        </td>
                                    </tr>
                                    <tr if.bind="ec2Instance.publicIp">
                                        <td class="collapsing">
                                            <strong>ip (public)</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.publicIp}</code>
                                        </td>
                                    </tr>
                                    <tr if.bind="ec2Instance.publicDnsName">
                                        <td class="collapsing">
                                            <strong>dns name (public)</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.publicDnsName}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>type</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.type}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>zone</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.zone}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>state</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.state}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>vpc</strong>
                                        </td>
                                        <td>
                                            <code>${ec2Instance.vpcId}</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h4 if.bind="vpc.elb" class="ui header">
                    <img class="ui small image" src="assets/images/aws/elb.svg">
                    ELB
                </h4>
                <div if.bind="vpc.elb" class="ui styled accordion" sui-accordion>
                    <div repeat.for="lb of vpc.elb | orderBy:'name'">
                        <div class="title">
                            <i class="dropdown icon"></i> ${lb.name}
                        </div>
                        <div class="content">
                            <table class="ui celled striped table">
                                <thead>
                                    <tr>
                                        <th colspan="3">Attributes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>id</strong>
                                        </td>
                                        <td>
                                            <code>${lb.id}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>name</strong>
                                        </td>
                                        <td>
                                            <code>${lb.name}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>dnsName</strong>
                                        </td>
                                        <td>
                                            <code>${lb.dnsName}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>type</strong>
                                        </td>
                                        <td>
                                            <code>${lb.type}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>state</strong>
                                        </td>
                                        <td>
                                            <code>${lb.state}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>vpc</strong>
                                        </td>
                                        <td>
                                            <code>${lb.vpcId}</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h4 if.bind="vpc.rds" class="ui header">
                    <img class="ui small image" src="assets/images/aws/rds.svg">
                    RDS
                </h4>
                <div if.bind="vpc.rds" class="ui styled accordion" sui-accordion>
                    <div repeat.for="rdsDatabase of vpc.rds | orderBy:name">
                        <div class="title">
                            <i class="dropdown icon"></i> ${rdsDatabase.name}
                        </div>
                        <div class="content">
                            <table class="ui celled striped table">
                                <thead>
                                    <tr>
                                        <th colspan="3">Attributes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>name</strong>
                                        </td>
                                        <td>
                                            <code>${rdsDatabase.name}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>class</strong>
                                        </td>
                                        <td>
                                            <code>${rdsDatabase.class}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>engine</strong>
                                        </td>
                                        <td>
                                            <code>${rdsDatabase.engine}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>engine version</strong>
                                        </td>
                                        <td>
                                            <code>${rdsDatabase.engineVersion}</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collapsing">
                                            <strong>vpc</strong>
                                        </td>
                                        <td>
                                            <code>${rdsDatabase.vpcId}</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui section divider"></div>
            </div>
        </div>
    </div>
</template>
