/*!
 * # Semantic UI 2.2.10 - Icon
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Icon
*******************************/

@font-face {
  font-family: 'Icons';
  src: url("./../themes/material/assets/fonts/icons.eot");
  src: url("./../themes/material/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("./../themes/material/assets/fonts/icons.woff2") format('woff2'), url("./../themes/material/assets/fonts/icons.woff") format('woff'), url("./../themes/material/assets/fonts/icons.ttf") format('truetype'), url("./../themes/material/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.icon:before {
  background: none !important;
}


/*******************************
             Types
*******************************/


/*--------------
    Loading
---------------*/

i.icon.loading {
  height: 1em;
  line-height: 1;
  -webkit-animation: icon-loading 2s linear infinite;
          animation: icon-loading 2s linear infinite;
}
@-webkit-keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*******************************
             States
*******************************/

i.icon.hover {
  opacity: 1 !important;
}
i.icon.active {
  opacity: 1 !important;
}
i.emphasized.icon {
  opacity: 1 !important;
}
i.disabled.icon {
  opacity: 0.45 !important;
}


/*******************************
           Variations
*******************************/


/*-------------------
        Fitted
--------------------*/

i.fitted.icon {
  width: auto;
  margin: 0em;
}

/*-------------------
         Link
--------------------*/

i.link.icon,
i.link.icons {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
i.link.icon:hover,
i.link.icons:hover {
  opacity: 1 !important;
}

/*-------------------
      Circular
--------------------*/

i.circular.icon {
  border-radius: 500em !important;
  line-height: 1 !important;
  padding: 0.5em 0.5em !important;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  width: 2em !important;
  height: 2em !important;
}
i.circular.inverted.icon {
  border: none;
  box-shadow: none;
}

/*-------------------
      Flipped
--------------------*/

i.flipped.icon,
i.horizontally.flipped.icon {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
i.vertically.flipped.icon {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

/*-------------------
      Rotated
--------------------*/

i.rotated.icon,
i.right.rotated.icon,
i.clockwise.rotated.icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
i.left.rotated.icon,
i.counterclockwise.rotated.icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*-------------------
      Bordered
--------------------*/

i.bordered.icon {
  line-height: 1;
  vertical-align: baseline;
  width: 2em;
  height: 2em;
  padding: 0.5em 0.5em !important;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
}
i.bordered.inverted.icon {
  border: none;
  box-shadow: none;
}

/*-------------------
      Inverted
--------------------*/


/* Inverted Shapes */
i.inverted.bordered.icon,
i.inverted.circular.icon {
  background-color: #1B1C1D !important;
  color: #FFFFFF !important;
}
i.inverted.icon {
  color: #FFFFFF;
}

/*-------------------
       Colors
--------------------*/


/* Red */
i.red.icon {
  color: #F44336 !important;
}
i.inverted.red.icon {
  color: #FF1744 !important;
}
i.inverted.bordered.red.icon,
i.inverted.circular.red.icon {
  background-color: #F44336 !important;
  color: #FFFFFF !important;
}

/* Orange */
i.orange.icon {
  color: #FF9800 !important;
}
i.inverted.orange.icon {
  color: #FF9100 !important;
}
i.inverted.bordered.orange.icon,
i.inverted.circular.orange.icon {
  background-color: #FF9800 !important;
  color: #FFFFFF !important;
}

/* Yellow */
i.yellow.icon {
  color: #FFEB3B !important;
}
i.inverted.yellow.icon {
  color: #FFEA00 !important;
}
i.inverted.bordered.yellow.icon,
i.inverted.circular.yellow.icon {
  background-color: #FFEB3B !important;
  color: #FFFFFF !important;
}

/* Olive */
i.olive.icon {
  color: #B5CC18 !important;
}
i.inverted.olive.icon {
  color: #D9E778 !important;
}
i.inverted.bordered.olive.icon,
i.inverted.circular.olive.icon {
  background-color: #B5CC18 !important;
  color: #FFFFFF !important;
}

/* Green */
i.green.icon {
  color: #4CAF50 !important;
}
i.inverted.green.icon {
  color: #00E676 !important;
}
i.inverted.bordered.green.icon,
i.inverted.circular.green.icon {
  background-color: #4CAF50 !important;
  color: #FFFFFF !important;
}

/* Teal */
i.teal.icon {
  color: #1de9b6 !important;
}
i.inverted.teal.icon {
  color: #1DE9B6 !important;
}
i.inverted.bordered.teal.icon,
i.inverted.circular.teal.icon {
  background-color: #1de9b6 !important;
  color: #FFFFFF !important;
}

/* Blue */
i.blue.icon {
  color: #2196F3 !important;
}
i.inverted.blue.icon {
  color: #2979FF !important;
}
i.inverted.bordered.blue.icon,
i.inverted.circular.blue.icon {
  background-color: #2196F3 !important;
  color: #FFFFFF !important;
}

/* Violet */
i.violet.icon {
  color: #6435C9 !important;
}
i.inverted.violet.icon {
  color: #A291FB !important;
}
i.inverted.bordered.violet.icon,
i.inverted.circular.violet.icon {
  background-color: #6435C9 !important;
  color: #FFFFFF !important;
}

/* Purple */
i.purple.icon {
  color: #9C27B0 !important;
}
i.inverted.purple.icon {
  color: #D500F9 !important;
}
i.inverted.bordered.purple.icon,
i.inverted.circular.purple.icon {
  background-color: #9C27B0 !important;
  color: #FFFFFF !important;
}

/* Pink */
i.pink.icon {
  color: #E91E63 !important;
}
i.inverted.pink.icon {
  color: #F50057 !important;
}
i.inverted.bordered.pink.icon,
i.inverted.circular.pink.icon {
  background-color: #E91E63 !important;
  color: #FFFFFF !important;
}

/* Brown */
i.brown.icon {
  color: #A5673F !important;
}
i.inverted.brown.icon {
  color: #D67C1C !important;
}
i.inverted.bordered.brown.icon,
i.inverted.circular.brown.icon {
  background-color: #A5673F !important;
  color: #FFFFFF !important;
}

/* Grey */
i.grey.icon {
  color: #9E9E9E !important;
}
i.inverted.grey.icon {
  color: #DCDDDE !important;
}
i.inverted.bordered.grey.icon,
i.inverted.circular.grey.icon {
  background-color: #9E9E9E !important;
  color: #FFFFFF !important;
}

/* Black */
i.black.icon {
  color: #1B1C1D !important;
}
i.inverted.black.icon {
  color: #333333 !important;
}
i.inverted.bordered.black.icon,
i.inverted.circular.black.icon {
  background-color: #1B1C1D !important;
  color: #FFFFFF !important;
}

/*-------------------
        Sizes
--------------------*/

i.mini.icon,
i.mini.icons {
  line-height: 1;
  font-size: 0.4em;
}
i.tiny.icon,
i.tiny.icons {
  line-height: 1;
  font-size: 0.5em;
}
i.small.icon,
i.small.icons {
  line-height: 1;
  font-size: 13px;
}
i.icon,
i.icons {
  font-size: 16px;
}
i.large.icon,
i.large.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 18px;
}
i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 20px;
}
i.huge.icon,
i.huge.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 28px;
}
i.massive.icon,
i.massive.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 32px;
}


/*******************************
            Groups
*******************************/

i.icons {
  display: inline-block;
  position: relative;
  line-height: 1;
}
i.icons .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: 0em;
  margin: 0;
}
i.icons .icon:first-child {
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  -webkit-transform: none;
          transform: none;
  margin-right: 0.25rem;
}

/* Corner Icon */
i.icons .corner.icon {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  font-size: 0.45em;
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}
i.icons .inverted.corner.icon {
  text-shadow: -1px -1px 0 #1B1C1D, 1px -1px 0 #1B1C1D, -1px 1px 0 #1B1C1D, 1px 1px 0 #1B1C1D;
}

/* Material Design Icons */
i.icon.threed.rotation:before {
  content: '\e84d';
}
i.icon.ac.unit:before {
  content: '\eb3b';
}
i.icon.access.alarm:before {
  content: '\e190';
}
i.icon.access.alarms:before {
  content: '\e191';
}
i.icon.access.time:before {
  content: '\e192';
}
i.icon.accessibility:before {
  content: '\e84e';
}
i.icon.accessible:before {
  content: '\e914';
}
i.icon.account.balance:before {
  content: '\e84f';
}
i.icon.account.balance.wallet:before {
  content: '\e850';
}
i.icon.account.box:before {
  content: '\e851';
}
i.icon.account.circle:before {
  content: '\e853';
}
i.icon.adb:before {
  content: '\e60e';
}
i.icon.add:before {
  content: '\e145';
}
i.icon.add.a.photo:before {
  content: '\e439';
}
i.icon.add.alarm:before {
  content: '\e193';
}
i.icon.add.alert:before {
  content: '\e003';
}
i.icon.add.box:before {
  content: '\e146';
}
i.icon.add.circle:before {
  content: '\e147';
}
i.icon.add.circle.outline:before {
  content: '\e148';
}
i.icon.add.location:before {
  content: '\e567';
}
i.icon.add.shopping.cart:before {
  content: '\e854';
}
i.icon.add.to.photos:before {
  content: '\e39d';
}
i.icon.add.to.queue:before {
  content: '\e05c';
}
i.icon.adjust:before {
  content: '\e39e';
}
i.icon.airline.seat.flat:before {
  content: '\e630';
}
i.icon.airline.seat.flat.angled:before {
  content: '\e631';
}
i.icon.airline.seat.individual.suite:before {
  content: '\e632';
}
i.icon.airline.seat.legroom.extra:before {
  content: '\e633';
}
i.icon.airline.seat.legroom.normal:before {
  content: '\e634';
}
i.icon.airline.seat.legroom.reduced:before {
  content: '\e635';
}
i.icon.airline.seat.recline.extra:before {
  content: '\e636';
}
i.icon.airline.seat.recline.normal:before {
  content: '\e637';
}
i.icon.airplanemode.active:before {
  content: '\e195';
}
i.icon.airplanemode.inactive:before {
  content: '\e194';
}
i.icon.airplay:before {
  content: '\e055';
}
i.icon.airport.shuttle:before {
  content: '\eb3c';
}
i.icon.alarm:before {
  content: '\e855';
}
i.icon.alarm.add:before {
  content: '\e856';
}
i.icon.alarm.off:before {
  content: '\e857';
}
i.icon.alarm.on:before {
  content: '\e858';
}
i.icon.album:before {
  content: '\e019';
}
i.icon.all.inclusive:before {
  content: '\eb3d';
}
i.icon.all.out:before {
  content: '\e90b';
}
i.icon.android:before {
  content: '\e859';
}
i.icon.announcement:before {
  content: '\e85a';
}
i.icon.apps:before {
  content: '\e5c3';
}
i.icon.archive:before {
  content: '\e149';
}
i.icon.arrow.back:before {
  content: '\e5c4';
}
i.icon.arrow.downward:before {
  content: '\e5db';
}
i.icon.arrow.drop.down:before {
  content: '\e5c5';
}
i.icon.arrow.drop.down.circle:before {
  content: '\e5c6';
}
i.icon.arrow.drop.up:before {
  content: '\e5c7';
}
i.icon.arrow.forward:before {
  content: '\e5c8';
}
i.icon.arrow.upward:before {
  content: '\e5d8';
}
i.icon.art.track:before {
  content: '\e060';
}
i.icon.aspect.ratio:before {
  content: '\e85b';
}
i.icon.assessment:before {
  content: '\e85c';
}
i.icon.assignment:before {
  content: '\e85d';
}
i.icon.assignment.ind:before {
  content: '\e85e';
}
i.icon.assignment.late:before {
  content: '\e85f';
}
i.icon.assignment.return:before {
  content: '\e860';
}
i.icon.assignment.returned:before {
  content: '\e861';
}
i.icon.assignment.turned.in:before {
  content: '\e862';
}
i.icon.assistant:before {
  content: '\e39f';
}
i.icon.assistant.photo:before {
  content: '\e3a0';
}
i.icon.attach.file:before {
  content: '\e226';
}
i.icon.attach.money:before {
  content: '\e227';
}
i.icon.attachment:before {
  content: '\e2bc';
}
i.icon.audiotrack:before {
  content: '\e3a1';
}
i.icon.autorenew:before {
  content: '\e863';
}
i.icon.av.timer:before {
  content: '\e01b';
}
i.icon.backspace:before {
  content: '\e14a';
}
i.icon.backup:before {
  content: '\e864';
}
i.icon.battery.alert:before {
  content: '\e19c';
}
i.icon.battery.charging.full:before {
  content: '\e1a3';
}
i.icon.battery.full:before {
  content: '\e1a4';
}
i.icon.battery.std:before {
  content: '\e1a5';
}
i.icon.battery.unknown:before {
  content: '\e1a6';
}
i.icon.beach.access:before {
  content: '\eb3e';
}
i.icon.beenhere:before {
  content: '\e52d';
}
i.icon.block:before {
  content: '\e14b';
}
i.icon.bluetooth:before {
  content: '\e1a7';
}
i.icon.bluetooth.audio:before {
  content: '\e60f';
}
i.icon.bluetooth.connected:before {
  content: '\e1a8';
}
i.icon.bluetooth.disabled:before {
  content: '\e1a9';
}
i.icon.bluetooth.searching:before {
  content: '\e1aa';
}
i.icon.blur.circular:before {
  content: '\e3a2';
}
i.icon.blur.linear:before {
  content: '\e3a3';
}
i.icon.blur.off:before {
  content: '\e3a4';
}
i.icon.blur.on:before {
  content: '\e3a5';
}
i.icon.book:before {
  content: '\e865';
}
i.icon.bookmark:before {
  content: '\e866';
}
i.icon.bookmark.border:before {
  content: '\e867';
}
i.icon.border.all:before {
  content: '\e228';
}
i.icon.border.bottom:before {
  content: '\e229';
}
i.icon.border.clear:before {
  content: '\e22a';
}
i.icon.border.color:before {
  content: '\e22b';
}
i.icon.border.horizontal:before {
  content: '\e22c';
}
i.icon.border.inner:before {
  content: '\e22d';
}
i.icon.border.left:before {
  content: '\e22e';
}
i.icon.border.outer:before {
  content: '\e22f';
}
i.icon.border.right:before {
  content: '\e230';
}
i.icon.border.style:before {
  content: '\e231';
}
i.icon.border.top:before {
  content: '\e232';
}
i.icon.border.vertical:before {
  content: '\e233';
}
i.icon.branding.watermark:before {
  content: '\e06b';
}
i.icon.brightness.one:before {
  content: '\e3a6';
}
i.icon.brightness.two:before {
  content: '\e3a7';
}
i.icon.brightness.three:before {
  content: '\e3a8';
}
i.icon.brightness.four:before {
  content: '\e3a9';
}
i.icon.brightness.five:before {
  content: '\e3aa';
}
i.icon.brightness.six:before {
  content: '\e3ab';
}
i.icon.brightness.seven:before {
  content: '\e3ac';
}
i.icon.brightness.auto:before {
  content: '\e1ab';
}
i.icon.brightness.high:before {
  content: '\e1ac';
}
i.icon.brightness.low:before {
  content: '\e1ad';
}
i.icon.brightness.medium:before {
  content: '\e1ae';
}
i.icon.broken.image:before {
  content: '\e3ad';
}
i.icon.brush:before {
  content: '\e3ae';
}
i.icon.bubble.chart:before {
  content: '\e6dd';
}
i.icon.bug.report:before {
  content: '\e868';
}
i.icon.build:before {
  content: '\e869';
}
i.icon.burst.mode:before {
  content: '\e43c';
}
i.icon.business:before {
  content: '\e0af';
}
i.icon.business.center:before {
  content: '\eb3f';
}
i.icon.cached:before {
  content: '\e86a';
}
i.icon.cake:before {
  content: '\e7e9';
}
i.icon.call:before {
  content: '\e0b0';
}
i.icon.call.end:before {
  content: '\e0b1';
}
i.icon.call.made:before {
  content: '\e0b2';
}
i.icon.call.merge:before {
  content: '\e0b3';
}
i.icon.call.missed:before {
  content: '\e0b4';
}
i.icon.call.missed.outgoing:before {
  content: '\e0e4';
}
i.icon.call.received:before {
  content: '\e0b5';
}
i.icon.call.split:before {
  content: '\e0b6';
}
i.icon.call.to.action:before {
  content: '\e06c';
}
i.icon.camera:before {
  content: '\e3af';
}
i.icon.camera.alt:before {
  content: '\e3b0';
}
i.icon.camera.enhance:before {
  content: '\e8fc';
}
i.icon.camera.front:before {
  content: '\e3b1';
}
i.icon.camera.rear:before {
  content: '\e3b2';
}
i.icon.camera.roll:before {
  content: '\e3b3';
}
i.icon.cancel:before {
  content: '\e5c9';
}
i.icon.card.giftcard:before {
  content: '\e8f6';
}
i.icon.card.membership:before {
  content: '\e8f7';
}
i.icon.card.travel:before {
  content: '\e8f8';
}
i.icon.casino:before {
  content: '\eb40';
}
i.icon.cast:before {
  content: '\e307';
}
i.icon.cast.connected:before {
  content: '\e308';
}
i.icon.center.focus.strong:before {
  content: '\e3b4';
}
i.icon.center.focus.weak:before {
  content: '\e3b5';
}
i.icon.change.history:before {
  content: '\e86b';
}
i.icon.chat:before {
  content: '\e0b7';
}
i.icon.chat.bubble:before {
  content: '\e0ca';
}
i.icon.chat.bubble.outline:before {
  content: '\e0cb';
}
i.icon.check:before {
  content: '\e5ca';
}
i.icon.check.box:before {
  content: '\e834';
}
i.icon.check.box.outline.blank:before {
  content: '\e835';
}
i.icon.check.circle:before {
  content: '\e86c';
}
i.icon.chevron.left:before {
  content: '\e5cb';
}
i.icon.chevron.right:before {
  content: '\e5cc';
}
i.icon.child.care:before {
  content: '\eb41';
}
i.icon.child.friendly:before {
  content: '\eb42';
}
i.icon.chrome.reader.mode:before {
  content: '\e86d';
}
i.icon.class:before {
  content: '\e86e';
}
i.icon.clear:before {
  content: '\e14c';
}
i.icon.clear.all:before {
  content: '\e0b8';
}
i.icon.close:before {
  content: '\e5cd';
}
i.icon.closed.caption:before {
  content: '\e01c';
}
i.icon.cloud:before {
  content: '\e2bd';
}
i.icon.cloud.circle:before {
  content: '\e2be';
}
i.icon.cloud.done:before {
  content: '\e2bf';
}
i.icon.cloud.download:before {
  content: '\e2c0';
}
i.icon.cloud.off:before {
  content: '\e2c1';
}
i.icon.cloud.queue:before {
  content: '\e2c2';
}
i.icon.cloud.upload:before {
  content: '\e2c3';
}
i.icon.code:before {
  content: '\e86f';
}
i.icon.collections:before {
  content: '\e3b6';
}
i.icon.collections.bookmark:before {
  content: '\e431';
}
i.icon.color.lens:before {
  content: '\e3b7';
}
i.icon.colorize:before {
  content: '\e3b8';
}
i.icon.comment:before {
  content: '\e0b9';
}
i.icon.compare:before {
  content: '\e3b9';
}
i.icon.compare.arrows:before {
  content: '\e915';
}
i.icon.computer:before {
  content: '\e30a';
}
i.icon.confirmation.number:before {
  content: '\e638';
}
i.icon.contact.mail:before {
  content: '\e0d0';
}
i.icon.contact.phone:before {
  content: '\e0cf';
}
i.icon.contacts:before {
  content: '\e0ba';
}
i.icon.content.copy:before {
  content: '\e14d';
}
i.icon.content.cut:before {
  content: '\e14e';
}
i.icon.content.paste:before {
  content: '\e14f';
}
i.icon.control.point:before {
  content: '\e3ba';
}
i.icon.control.point.duplicate:before {
  content: '\e3bb';
}
i.icon.copyright:before {
  content: '\e90c';
}
i.icon.create:before {
  content: '\e150';
}
i.icon.create.new.folder:before {
  content: '\e2cc';
}
i.icon.credit.card:before {
  content: '\e870';
}
i.icon.crop:before {
  content: '\e3be';
}
i.icon.crop.sixteen.nine:before {
  content: '\e3bc';
}
i.icon.crop.three.two:before {
  content: '\e3bd';
}
i.icon.crop.five.four:before {
  content: '\e3bf';
}
i.icon.crop.seven.five:before {
  content: '\e3c0';
}
i.icon.crop.din:before {
  content: '\e3c1';
}
i.icon.crop.free:before {
  content: '\e3c2';
}
i.icon.crop.landscape:before {
  content: '\e3c3';
}
i.icon.crop.original:before {
  content: '\e3c4';
}
i.icon.crop.portrait:before {
  content: '\e3c5';
}
i.icon.crop.rotate:before {
  content: '\e437';
}
i.icon.crop.square:before {
  content: '\e3c6';
}
i.icon.dashboard:before {
  content: '\e871';
}
i.icon.data.usage:before {
  content: '\e1af';
}
i.icon.date.range:before {
  content: '\e916';
}
i.icon.dehaze:before {
  content: '\e3c7';
}
i.icon.delete:before {
  content: '\e872';
}
i.icon.delete.forever:before {
  content: '\e92b';
}
i.icon.delete.sweep:before {
  content: '\e16c';
}
i.icon.description:before {
  content: '\e873';
}
i.icon.desktop.mac:before {
  content: '\e30b';
}
i.icon.desktop.windows:before {
  content: '\e30c';
}
i.icon.details:before {
  content: '\e3c8';
}
i.icon.developer.board:before {
  content: '\e30d';
}
i.icon.developer.mode:before {
  content: '\e1b0';
}
i.icon.device.hub:before {
  content: '\e335';
}
i.icon.devices:before {
  content: '\e1b1';
}
i.icon.devices.other:before {
  content: '\e337';
}
i.icon.dialer.sip:before {
  content: '\e0bb';
}
i.icon.dialpad:before {
  content: '\e0bc';
}
i.icon.directions:before {
  content: '\e52e';
}
i.icon.directions.bike:before {
  content: '\e52f';
}
i.icon.directions.boat:before {
  content: '\e532';
}
i.icon.directions.bus:before {
  content: '\e530';
}
i.icon.directions.car:before {
  content: '\e531';
}
i.icon.directions.railway:before {
  content: '\e534';
}
i.icon.directions.run:before {
  content: '\e566';
}
i.icon.directions.subway:before {
  content: '\e533';
}
i.icon.directions.transit:before {
  content: '\e535';
}
i.icon.directions.walk:before {
  content: '\e536';
}
i.icon.disc.full:before {
  content: '\e610';
}
i.icon.dns:before {
  content: '\e875';
}
i.icon.do.not.disturb:before {
  content: '\e612';
}
i.icon.do.not.disturb.alt:before {
  content: '\e611';
}
i.icon.do.not.disturb.off:before {
  content: '\e643';
}
i.icon.do.not.disturb.on:before {
  content: '\e644';
}
i.icon.dock:before {
  content: '\e30e';
}
i.icon.domain:before {
  content: '\e7ee';
}
i.icon.done:before {
  content: '\e876';
}
i.icon.done.all:before {
  content: '\e877';
}
i.icon.donut.large:before {
  content: '\e917';
}
i.icon.donut.small:before {
  content: '\e918';
}
i.icon.drafts:before {
  content: '\e151';
}
i.icon.drag.handle:before {
  content: '\e25d';
}
i.icon.drive.eta:before {
  content: '\e613';
}
i.icon.dvr:before {
  content: '\e1b2';
}
i.icon.edit:before {
  content: '\e3c9';
}
i.icon.edit.location:before {
  content: '\e568';
}
i.icon.eject:before {
  content: '\e8fb';
}
i.icon.email:before {
  content: '\e0be';
}
i.icon.enhanced.encryption:before {
  content: '\e63f';
}
i.icon.equalizer:before {
  content: '\e01d';
}
i.icon.error:before {
  content: '\e000';
}
i.icon.error.outline:before {
  content: '\e001';
}
i.icon.euro.symbol:before {
  content: '\e926';
}
i.icon.ev.station:before {
  content: '\e56d';
}
i.icon.event:before {
  content: '\e878';
}
i.icon.event.available:before {
  content: '\e614';
}
i.icon.event.busy:before {
  content: '\e615';
}
i.icon.event.note:before {
  content: '\e616';
}
i.icon.event.seat:before {
  content: '\e903';
}
i.icon.exit.to.app:before {
  content: '\e879';
}
i.icon.expand.less:before {
  content: '\e5ce';
}
i.icon.expand.more:before {
  content: '\e5cf';
}
i.icon.explicit:before {
  content: '\e01e';
}
i.icon.explore:before {
  content: '\e87a';
}
i.icon.exposure:before {
  content: '\e3ca';
}
i.icon.exposure.neg.1:before {
  content: '\e3cb';
}
i.icon.exposure.neg.2:before {
  content: '\e3cc';
}
i.icon.exposure.plus.1:before {
  content: '\e3cd';
}
i.icon.exposure.plus.2:before {
  content: '\e3ce';
}
i.icon.exposure.zero:before {
  content: '\e3cf';
}
i.icon.extension:before {
  content: '\e87b';
}
i.icon.face:before {
  content: '\e87c';
}
i.icon.fast.forward:before {
  content: '\e01f';
}
i.icon.fast.rewind:before {
  content: '\e020';
}
i.icon.favorite:before {
  content: '\e87d';
}
i.icon.favorite.border:before {
  content: '\e87e';
}
i.icon.featured.play.list:before {
  content: '\e06d';
}
i.icon.featured.video:before {
  content: '\e06e';
}
i.icon.feedback:before {
  content: '\e87f';
}
i.icon.fiber.dvr:before {
  content: '\e05d';
}
i.icon.fiber.manual.record:before {
  content: '\e061';
}
i.icon.fiber.new:before {
  content: '\e05e';
}
i.icon.fiber.pin:before {
  content: '\e06a';
}
i.icon.fiber.smart.record:before {
  content: '\e062';
}
i.icon.file.download:before {
  content: '\e2c4';
}
i.icon.file.upload:before {
  content: '\e2c6';
}
i.icon.filter:before {
  content: '\e3d3';
}
i.icon.filter.1:before {
  content: '\e3d0';
}
i.icon.filter.2:before {
  content: '\e3d1';
}
i.icon.filter.3:before {
  content: '\e3d2';
}
i.icon.filter.4:before {
  content: '\e3d4';
}
i.icon.filter.5:before {
  content: '\e3d5';
}
i.icon.filter.6:before {
  content: '\e3d6';
}
i.icon.filter.7:before {
  content: '\e3d7';
}
i.icon.filter.8:before {
  content: '\e3d8';
}
i.icon.filter.9:before {
  content: '\e3d9';
}
i.icon.filter.9.plus:before {
  content: '\e3da';
}
i.icon.filter.b.and.w:before {
  content: '\e3db';
}
i.icon.filter.center.focus:before {
  content: '\e3dc';
}
i.icon.filter.drama:before {
  content: '\e3dd';
}
i.icon.filter.frames:before {
  content: '\e3de';
}
i.icon.filter.hdr:before {
  content: '\e3df';
}
i.icon.filter.list:before {
  content: '\e152';
}
i.icon.filter.none:before {
  content: '\e3e0';
}
i.icon.filter.tilt.shift:before {
  content: '\e3e2';
}
i.icon.filter.vintage:before {
  content: '\e3e3';
}
i.icon.find.in.page:before {
  content: '\e880';
}
i.icon.find.replace:before {
  content: '\e881';
}
i.icon.fingerprint:before {
  content: '\e90d';
}
i.icon.first.page:before {
  content: '\e5dc';
}
i.icon.fitness.center:before {
  content: '\eb43';
}
i.icon.flag:before {
  content: '\e153';
}
i.icon.flare:before {
  content: '\e3e4';
}
i.icon.flash.auto:before {
  content: '\e3e5';
}
i.icon.flash.off:before {
  content: '\e3e6';
}
i.icon.flash.on:before {
  content: '\e3e7';
}
i.icon.flight:before {
  content: '\e539';
}
i.icon.flight.land:before {
  content: '\e904';
}
i.icon.flight.takeoff:before {
  content: '\e905';
}
i.icon.flip:before {
  content: '\e3e8';
}
i.icon.flip.to.back:before {
  content: '\e882';
}
i.icon.flip.to.front:before {
  content: '\e883';
}
i.icon.folder:before {
  content: '\e2c7';
}
i.icon.folder.open:before {
  content: '\e2c8';
}
i.icon.folder.shared:before {
  content: '\e2c9';
}
i.icon.folder.special:before {
  content: '\e617';
}
i.icon.font.download:before {
  content: '\e167';
}
i.icon.format.align.center:before {
  content: '\e234';
}
i.icon.format.align.justify:before {
  content: '\e235';
}
i.icon.format.align.left:before {
  content: '\e236';
}
i.icon.format.align.right:before {
  content: '\e237';
}
i.icon.format.bold:before {
  content: '\e238';
}
i.icon.format.clear:before {
  content: '\e239';
}
i.icon.format.color.fill:before {
  content: '\e23a';
}
i.icon.format.color.reset:before {
  content: '\e23b';
}
i.icon.format.color.text:before {
  content: '\e23c';
}
i.icon.format.indent.decrease:before {
  content: '\e23d';
}
i.icon.format.indent.increase:before {
  content: '\e23e';
}
i.icon.format.italic:before {
  content: '\e23f';
}
i.icon.format.line.spacing:before {
  content: '\e240';
}
i.icon.format.list.bulleted:before {
  content: '\e241';
}
i.icon.format.list.numbered:before {
  content: '\e242';
}
i.icon.format.paint:before {
  content: '\e243';
}
i.icon.format.quote:before {
  content: '\e244';
}
i.icon.format.shapes:before {
  content: '\e25e';
}
i.icon.format.size:before {
  content: '\e245';
}
i.icon.format.strikethrough:before {
  content: '\e246';
}
i.icon.format.textdirection.l.to.r:before {
  content: '\e247';
}
i.icon.format.textdirection.r.to.l:before {
  content: '\e248';
}
i.icon.format.underlined:before {
  content: '\e249';
}
i.icon.forum:before {
  content: '\e0bf';
}
i.icon.forward:before {
  content: '\e154';
}
i.icon.forward.ten:before {
  content: '\e056';
}
i.icon.forward.thirty:before {
  content: '\e057';
}
i.icon.forward.five:before {
  content: '\e058';
}
i.icon.free.breakfast:before {
  content: '\eb44';
}
i.icon.fullscreen:before {
  content: '\e5d0';
}
i.icon.fullscreen.exit:before {
  content: '\e5d1';
}
i.icon.functions:before {
  content: '\e24a';
}
i.icon.g.translate:before {
  content: '\e927';
}
i.icon.gamepad:before {
  content: '\e30f';
}
i.icon.games:before {
  content: '\e021';
}
i.icon.gavel:before {
  content: '\e90e';
}
i.icon.gesture:before {
  content: '\e155';
}
i.icon.get.app:before {
  content: '\e884';
}
i.icon.gif:before {
  content: '\e908';
}
i.icon.golf.course:before {
  content: '\eb45';
}
i.icon.gps.fixed:before {
  content: '\e1b3';
}
i.icon.gps.not.fixed:before {
  content: '\e1b4';
}
i.icon.gps.off:before {
  content: '\e1b5';
}
i.icon.grade:before {
  content: '\e885';
}
i.icon.gradient:before {
  content: '\e3e9';
}
i.icon.grain:before {
  content: '\e3ea';
}
i.icon.graphic.eq:before {
  content: '\e1b8';
}
i.icon.grid.off:before {
  content: '\e3eb';
}
i.icon.grid.on:before {
  content: '\e3ec';
}
i.icon.group:before {
  content: '\e7ef';
}
i.icon.group.add:before {
  content: '\e7f0';
}
i.icon.group.work:before {
  content: '\e886';
}
i.icon.hd:before {
  content: '\e052';
}
i.icon.hdr.off:before {
  content: '\e3ed';
}
i.icon.hdr.on:before {
  content: '\e3ee';
}
i.icon.hdr.strong:before {
  content: '\e3f1';
}
i.icon.hdr.weak:before {
  content: '\e3f2';
}
i.icon.headset:before {
  content: '\e310';
}
i.icon.headset.mic:before {
  content: '\e311';
}
i.icon.healing:before {
  content: '\e3f3';
}
i.icon.hearing:before {
  content: '\e023';
}
i.icon.help:before {
  content: '\e887';
}
i.icon.help.outline:before {
  content: '\e8fd';
}
i.icon.high.quality:before {
  content: '\e024';
}
i.icon.highlight:before {
  content: '\e25f';
}
i.icon.highlight.off:before {
  content: '\e888';
}
i.icon.history:before {
  content: '\e889';
}
i.icon.home:before {
  content: '\e88a';
}
i.icon.hot.tub:before {
  content: '\eb46';
}
i.icon.hotel:before {
  content: '\e53a';
}
i.icon.hourglass.empty:before {
  content: '\e88b';
}
i.icon.hourglass.full:before {
  content: '\e88c';
}
i.icon.http:before {
  content: '\e902';
}
i.icon.https:before {
  content: '\e88d';
}
i.icon.image:before {
  content: '\e3f4';
}
i.icon.image.aspect.ratio:before {
  content: '\e3f5';
}
i.icon.import.contacts:before {
  content: '\e0e0';
}
i.icon.import.export:before {
  content: '\e0c3';
}
i.icon.important.devices:before {
  content: '\e912';
}
i.icon.inbox:before {
  content: '\e156';
}
i.icon.indeterminate.check.box:before {
  content: '\e909';
}
i.icon.info:before {
  content: '\e88e';
}
i.icon.info.outline:before {
  content: '\e88f';
}
i.icon.input:before {
  content: '\e890';
}
i.icon.insert.chart:before {
  content: '\e24b';
}
i.icon.insert.comment:before {
  content: '\e24c';
}
i.icon.insert.drive.file:before {
  content: '\e24d';
}
i.icon.insert.emoticon:before {
  content: '\e24e';
}
i.icon.insert.invitation:before {
  content: '\e24f';
}
i.icon.insert.link:before {
  content: '\e250';
}
i.icon.insert.photo:before {
  content: '\e251';
}
i.icon.invert.colors:before {
  content: '\e891';
}
i.icon.invert.colors.off:before {
  content: '\e0c4';
}
i.icon.iso:before {
  content: '\e3f6';
}
i.icon.keyboard:before {
  content: '\e312';
}
i.icon.keyboard.arrow.down:before {
  content: '\e313';
}
i.icon.keyboard.arrow.left:before {
  content: '\e314';
}
i.icon.keyboard.arrow.right:before {
  content: '\e315';
}
i.icon.keyboard.arrow.up:before {
  content: '\e316';
}
i.icon.keyboard.backspace:before {
  content: '\e317';
}
i.icon.keyboard.capslock:before {
  content: '\e318';
}
i.icon.keyboard.hide:before {
  content: '\e31a';
}
i.icon.keyboard.return:before {
  content: '\e31b';
}
i.icon.keyboard.tab:before {
  content: '\e31c';
}
i.icon.keyboard.voice:before {
  content: '\e31d';
}
i.icon.kitchen:before {
  content: '\eb47';
}
i.icon.label:before {
  content: '\e892';
}
i.icon.label.outline:before {
  content: '\e893';
}
i.icon.landscape:before {
  content: '\e3f7';
}
i.icon.language:before {
  content: '\e894';
}
i.icon.laptop:before {
  content: '\e31e';
}
i.icon.laptop.chromebook:before {
  content: '\e31f';
}
i.icon.laptop.mac:before {
  content: '\e320';
}
i.icon.laptop.windows:before {
  content: '\e321';
}
i.icon.last.page:before {
  content: '\e5dd';
}
i.icon.launch:before {
  content: '\e895';
}
i.icon.layers:before {
  content: '\e53b';
}
i.icon.layers.clear:before {
  content: '\e53c';
}
i.icon.leak.add:before {
  content: '\e3f8';
}
i.icon.leak.remove:before {
  content: '\e3f9';
}
i.icon.lens:before {
  content: '\e3fa';
}
i.icon.library.add:before {
  content: '\e02e';
}
i.icon.library.books:before {
  content: '\e02f';
}
i.icon.library.music:before {
  content: '\e030';
}
i.icon.lightbulb.outline:before {
  content: '\e90f';
}
i.icon.line.style:before {
  content: '\e919';
}
i.icon.line.weight:before {
  content: '\e91a';
}
i.icon.linear.scale:before {
  content: '\e260';
}
i.icon.link:before {
  content: '\e157';
}
i.icon.linked.camera:before {
  content: '\e438';
}
i.icon.list:before {
  content: '\e896';
}
i.icon.live.help:before {
  content: '\e0c6';
}
i.icon.live.tv:before {
  content: '\e639';
}
i.icon.local.activity:before {
  content: '\e53f';
}
i.icon.local.airport:before {
  content: '\e53d';
}
i.icon.local.atm:before {
  content: '\e53e';
}
i.icon.local.bar:before {
  content: '\e540';
}
i.icon.local.cafe:before {
  content: '\e541';
}
i.icon.local.car.wash:before {
  content: '\e542';
}
i.icon.local.convenience.store:before {
  content: '\e543';
}
i.icon.local.dining:before {
  content: '\e556';
}
i.icon.local.drink:before {
  content: '\e544';
}
i.icon.local.florist:before {
  content: '\e545';
}
i.icon.local.gas.station:before {
  content: '\e546';
}
i.icon.local.grocery.store:before {
  content: '\e547';
}
i.icon.local.hospital:before {
  content: '\e548';
}
i.icon.local.hotel:before {
  content: '\e549';
}
i.icon.local.laundry.service:before {
  content: '\e54a';
}
i.icon.local.library:before {
  content: '\e54b';
}
i.icon.local.mall:before {
  content: '\e54c';
}
i.icon.local.movies:before {
  content: '\e54d';
}
i.icon.local.offer:before {
  content: '\e54e';
}
i.icon.local.parking:before {
  content: '\e54f';
}
i.icon.local.pharmacy:before {
  content: '\e550';
}
i.icon.local.phone:before {
  content: '\e551';
}
i.icon.local.pizza:before {
  content: '\e552';
}
i.icon.local.play:before {
  content: '\e553';
}
i.icon.local.post.office:before {
  content: '\e554';
}
i.icon.local.printshop:before {
  content: '\e555';
}
i.icon.local.see:before {
  content: '\e557';
}
i.icon.local.shipping:before {
  content: '\e558';
}
i.icon.local.taxi:before {
  content: '\e559';
}
i.icon.location.city:before {
  content: '\e7f1';
}
i.icon.location.disabled:before {
  content: '\e1b6';
}
i.icon.location.off:before {
  content: '\e0c7';
}
i.icon.location.on:before {
  content: '\e0c8';
}
i.icon.location.searching:before {
  content: '\e1b7';
}
i.icon.lock:before {
  content: '\e897';
}
i.icon.lock.open:before {
  content: '\e898';
}
i.icon.lock.outline:before {
  content: '\e899';
}
i.icon.looks:before {
  content: '\e3fc';
}
i.icon.looks.3:before {
  content: '\e3fb';
}
i.icon.looks.4:before {
  content: '\e3fd';
}
i.icon.looks.5:before {
  content: '\e3fe';
}
i.icon.looks.6:before {
  content: '\e3ff';
}
i.icon.looks.one:before {
  content: '\e400';
}
i.icon.looks.two:before {
  content: '\e401';
}
i.icon.loop:before {
  content: '\e028';
}
i.icon.loupe:before {
  content: '\e402';
}
i.icon.low.priority:before {
  content: '\e16d';
}
i.icon.loyalty:before {
  content: '\e89a';
}
i.icon.mail:before {
  content: '\e158';
}
i.icon.mail.outline:before {
  content: '\e0e1';
}
i.icon.map:before {
  content: '\e55b';
}
i.icon.markunread:before {
  content: '\e159';
}
i.icon.markunread.mailbox:before {
  content: '\e89b';
}
i.icon.memory:before {
  content: '\e322';
}
i.icon.menu:before {
  content: '\e5d2';
}
i.icon.merge.type:before {
  content: '\e252';
}
i.icon.message:before {
  content: '\e0c9';
}
i.icon.mic:before {
  content: '\e029';
}
i.icon.mic.none:before {
  content: '\e02a';
}
i.icon.mic.off:before {
  content: '\e02b';
}
i.icon.mms:before {
  content: '\e618';
}
i.icon.mode.comment:before {
  content: '\e253';
}
i.icon.mode.edit:before {
  content: '\e254';
}
i.icon.monetization.on:before {
  content: '\e263';
}
i.icon.money.off:before {
  content: '\e25c';
}
i.icon.monochrome.photos:before {
  content: '\e403';
}
i.icon.mood:before {
  content: '\e7f2';
}
i.icon.mood.bad:before {
  content: '\e7f3';
}
i.icon.more:before {
  content: '\e619';
}
i.icon.more.horiz:before {
  content: '\e5d3';
}
i.icon.more.vert:before {
  content: '\e5d4';
}
i.icon.motorcycle:before {
  content: '\e91b';
}
i.icon.mouse:before {
  content: '\e323';
}
i.icon.move.to.inbox:before {
  content: '\e168';
}
i.icon.movie:before {
  content: '\e02c';
}
i.icon.movie.creation:before {
  content: '\e404';
}
i.icon.movie.filter:before {
  content: '\e43a';
}
i.icon.multiline.chart:before {
  content: '\e6df';
}
i.icon.music.note:before {
  content: '\e405';
}
i.icon.music.video:before {
  content: '\e063';
}
i.icon.my.location:before {
  content: '\e55c';
}
i.icon.nature:before {
  content: '\e406';
}
i.icon.nature.people:before {
  content: '\e407';
}
i.icon.navigate.before:before {
  content: '\e408';
}
i.icon.navigate.next:before {
  content: '\e409';
}
i.icon.navigation:before {
  content: '\e55d';
}
i.icon.near.me:before {
  content: '\e569';
}
i.icon.network.cell:before {
  content: '\e1b9';
}
i.icon.network.check:before {
  content: '\e640';
}
i.icon.network.locked:before {
  content: '\e61a';
}
i.icon.network.wifi:before {
  content: '\e1ba';
}
i.icon.new.releases:before {
  content: '\e031';
}
i.icon.next.week:before {
  content: '\e16a';
}
i.icon.nfc:before {
  content: '\e1bb';
}
i.icon.no.encryption:before {
  content: '\e641';
}
i.icon.no.sim:before {
  content: '\e0cc';
}
i.icon.not.interested:before {
  content: '\e033';
}
i.icon.note:before {
  content: '\e06f';
}
i.icon.note.add:before {
  content: '\e89c';
}
i.icon.notifications:before {
  content: '\e7f4';
}
i.icon.notifications.active:before {
  content: '\e7f7';
}
i.icon.notifications.none:before {
  content: '\e7f5';
}
i.icon.notifications.off:before {
  content: '\e7f6';
}
i.icon.notifications.paused:before {
  content: '\e7f8';
}
i.icon.offline.pin:before {
  content: '\e90a';
}
i.icon.ondemand.video:before {
  content: '\e63a';
}
i.icon.opacity:before {
  content: '\e91c';
}
i.icon.open.in.browser:before {
  content: '\e89d';
}
i.icon.open.in.new:before {
  content: '\e89e';
}
i.icon.open.with:before {
  content: '\e89f';
}
i.icon.pages:before {
  content: '\e7f9';
}
i.icon.pageview:before {
  content: '\e8a0';
}
i.icon.palette:before {
  content: '\e40a';
}
i.icon.pan.tool:before {
  content: '\e925';
}
i.icon.panorama:before {
  content: '\e40b';
}
i.icon.panorama.fish.eye:before {
  content: '\e40c';
}
i.icon.panorama.horizontal:before {
  content: '\e40d';
}
i.icon.panorama.vertical:before {
  content: '\e40e';
}
i.icon.panorama.wide.angle:before {
  content: '\e40f';
}
i.icon.party.mode:before {
  content: '\e7fa';
}
i.icon.pause:before {
  content: '\e034';
}
i.icon.pause.circle.filled:before {
  content: '\e035';
}
i.icon.pause.circle.outline:before {
  content: '\e036';
}
i.icon.payment:before {
  content: '\e8a1';
}
i.icon.people:before {
  content: '\e7fb';
}
i.icon.people.outline:before {
  content: '\e7fc';
}
i.icon.perm.camera.mic:before {
  content: '\e8a2';
}
i.icon.perm.contact.calendar:before {
  content: '\e8a3';
}
i.icon.perm.data.setting:before {
  content: '\e8a4';
}
i.icon.perm.device.information:before {
  content: '\e8a5';
}
i.icon.perm.identity:before {
  content: '\e8a6';
}
i.icon.perm.media:before {
  content: '\e8a7';
}
i.icon.perm.phone.msg:before {
  content: '\e8a8';
}
i.icon.perm.scan.wifi:before {
  content: '\e8a9';
}
i.icon.person:before {
  content: '\e7fd';
}
i.icon.person.add:before {
  content: '\e7fe';
}
i.icon.person.outline:before {
  content: '\e7ff';
}
i.icon.person.pin:before {
  content: '\e55a';
}
i.icon.person.pin.circle:before {
  content: '\e56a';
}
i.icon.personal.video:before {
  content: '\e63b';
}
i.icon.pets:before {
  content: '\e91d';
}
i.icon.phone:before {
  content: '\e0cd';
}
i.icon.phone.android:before {
  content: '\e324';
}
i.icon.phone.bluetooth.speaker:before {
  content: '\e61b';
}
i.icon.phone.forwarded:before {
  content: '\e61c';
}
i.icon.phone.in.talk:before {
  content: '\e61d';
}
i.icon.phone.iphone:before {
  content: '\e325';
}
i.icon.phone.locked:before {
  content: '\e61e';
}
i.icon.phone.missed:before {
  content: '\e61f';
}
i.icon.phone.paused:before {
  content: '\e620';
}
i.icon.phonelink:before {
  content: '\e326';
}
i.icon.phonelink.erase:before {
  content: '\e0db';
}
i.icon.phonelink.lock:before {
  content: '\e0dc';
}
i.icon.phonelink.off:before {
  content: '\e327';
}
i.icon.phonelink.ring:before {
  content: '\e0dd';
}
i.icon.phonelink.setup:before {
  content: '\e0de';
}
i.icon.photo:before {
  content: '\e410';
}
i.icon.photo.album:before {
  content: '\e411';
}
i.icon.photo.camera:before {
  content: '\e412';
}
i.icon.photo.filter:before {
  content: '\e43b';
}
i.icon.photo.library:before {
  content: '\e413';
}
i.icon.photo.size.select.actual:before {
  content: '\e432';
}
i.icon.photo.size.select.large:before {
  content: '\e433';
}
i.icon.photo.size.select.small:before {
  content: '\e434';
}
i.icon.picture.as.pdf:before {
  content: '\e415';
}
i.icon.picture.in.picture:before {
  content: '\e8aa';
}
i.icon.picture.in.picture.alt:before {
  content: '\e911';
}
i.icon.pie.chart:before {
  content: '\e6c4';
}
i.icon.pie.chart.outlined:before {
  content: '\e6c5';
}
i.icon.pin.drop:before {
  content: '\e55e';
}
i.icon.place:before {
  content: '\e55f';
}
i.icon.play.arrow:before {
  content: '\e037';
}
i.icon.play.circle.filled:before {
  content: '\e038';
}
i.icon.play.circle.outline:before {
  content: '\e039';
}
i.icon.play.for.work:before {
  content: '\e906';
}
i.icon.playlist.add:before {
  content: '\e03b';
}
i.icon.playlist.add.check:before {
  content: '\e065';
}
i.icon.playlist.play:before {
  content: '\e05f';
}
i.icon.plus.one:before {
  content: '\e800';
}
i.icon.poll:before {
  content: '\e801';
}
i.icon.polymer:before {
  content: '\e8ab';
}
i.icon.pool:before {
  content: '\eb48';
}
i.icon.portable.wifi.off:before {
  content: '\e0ce';
}
i.icon.portrait:before {
  content: '\e416';
}
i.icon.power:before {
  content: '\e63c';
}
i.icon.power.input:before {
  content: '\e336';
}
i.icon.power.settings.new:before {
  content: '\e8ac';
}
i.icon.pregnant.woman:before {
  content: '\e91e';
}
i.icon.present.to.all:before {
  content: '\e0df';
}
i.icon.print:before {
  content: '\e8ad';
}
i.icon.priority.high:before {
  content: '\e645';
}
i.icon.public:before {
  content: '\e80b';
}
i.icon.publish:before {
  content: '\e255';
}
i.icon.query.builder:before {
  content: '\e8ae';
}
i.icon.question.answer:before {
  content: '\e8af';
}
i.icon.queue:before {
  content: '\e03c';
}
i.icon.queue.music:before {
  content: '\e03d';
}
i.icon.queue.play.next:before {
  content: '\e066';
}
i.icon.radio:before {
  content: '\e03e';
}
i.icon.radio.button.checked:before {
  content: '\e837';
}
i.icon.radio.button.unchecked:before {
  content: '\e836';
}
i.icon.rate.review:before {
  content: '\e560';
}
i.icon.receipt:before {
  content: '\e8b0';
}
i.icon.recent.actors:before {
  content: '\e03f';
}
i.icon.record.voice.over:before {
  content: '\e91f';
}
i.icon.redeem:before {
  content: '\e8b1';
}
i.icon.redo:before {
  content: '\e15a';
}
i.icon.refresh:before {
  content: '\e5d5';
}
i.icon.remove:before {
  content: '\e15b';
}
i.icon.remove.circle:before {
  content: '\e15c';
}
i.icon.remove.circle.outline:before {
  content: '\e15d';
}
i.icon.remove.from.queue:before {
  content: '\e067';
}
i.icon.remove.red.eye:before {
  content: '\e417';
}
i.icon.remove.shopping.cart:before {
  content: '\e928';
}
i.icon.reorder:before {
  content: '\e8fe';
}
i.icon.repeat:before {
  content: '\e040';
}
i.icon.repeat.one:before {
  content: '\e041';
}
i.icon.replay:before {
  content: '\e042';
}
i.icon.replay.ten:before {
  content: '\e059';
}
i.icon.replay.thirty:before {
  content: '\e05a';
}
i.icon.replay.five:before {
  content: '\e05b';
}
i.icon.reply:before {
  content: '\e15e';
}
i.icon.reply.all:before {
  content: '\e15f';
}
i.icon.report:before {
  content: '\e160';
}
i.icon.report.problem:before {
  content: '\e8b2';
}
i.icon.restaurant:before {
  content: '\e56c';
}
i.icon.restaurant.menu:before {
  content: '\e561';
}
i.icon.restore:before {
  content: '\e8b3';
}
i.icon.restore.page:before {
  content: '\e929';
}
i.icon.ring.volume:before {
  content: '\e0d1';
}
i.icon.room:before {
  content: '\e8b4';
}
i.icon.room.service:before {
  content: '\eb49';
}
i.icon.rotate.ninety.degrees.ccw:before {
  content: '\e418';
}
i.icon.rotate.left:before {
  content: '\e419';
}
i.icon.rotate.right:before {
  content: '\e41a';
}
i.icon.rounded.corner:before {
  content: '\e920';
}
i.icon.router:before {
  content: '\e328';
}
i.icon.rowing:before {
  content: '\e921';
}
i.icon.rss.feed:before {
  content: '\e0e5';
}
i.icon.rv.hookup:before {
  content: '\e642';
}
i.icon.satellite:before {
  content: '\e562';
}
i.icon.save:before {
  content: '\e161';
}
i.icon.scanner:before {
  content: '\e329';
}
i.icon.schedule:before {
  content: '\e8b5';
}
i.icon.school:before {
  content: '\e80c';
}
i.icon.screen.lock.landscape:before {
  content: '\e1be';
}
i.icon.screen.lock.portrait:before {
  content: '\e1bf';
}
i.icon.screen.lock.rotation:before {
  content: '\e1c0';
}
i.icon.screen.rotation:before {
  content: '\e1c1';
}
i.icon.screen.share:before {
  content: '\e0e2';
}
i.icon.sd.card:before {
  content: '\e623';
}
i.icon.sd.storage:before {
  content: '\e1c2';
}
i.icon.search:before {
  content: '\e8b6';
}
i.icon.security:before {
  content: '\e32a';
}
i.icon.select.all:before {
  content: '\e162';
}
i.icon.send:before {
  content: '\e163';
}
i.icon.sentiment.dissatisfied:before {
  content: '\e811';
}
i.icon.sentiment.neutral:before {
  content: '\e812';
}
i.icon.sentiment.satisfied:before {
  content: '\e813';
}
i.icon.sentiment.very.dissatisfied:before {
  content: '\e814';
}
i.icon.sentiment.very.satisfied:before {
  content: '\e815';
}
i.icon.settings:before {
  content: '\e8b8';
}
i.icon.settings.applications:before {
  content: '\e8b9';
}
i.icon.settings.backup.restore:before {
  content: '\e8ba';
}
i.icon.settings.bluetooth:before {
  content: '\e8bb';
}
i.icon.settings.brightness:before {
  content: '\e8bd';
}
i.icon.settings.cell:before {
  content: '\e8bc';
}
i.icon.settings.ethernet:before {
  content: '\e8be';
}
i.icon.settings.input.antenna:before {
  content: '\e8bf';
}
i.icon.settings.input.component:before {
  content: '\e8c0';
}
i.icon.settings.input.composite:before {
  content: '\e8c1';
}
i.icon.settings.input.hdmi:before {
  content: '\e8c2';
}
i.icon.settings.input.svideo:before {
  content: '\e8c3';
}
i.icon.settings.overscan:before {
  content: '\e8c4';
}
i.icon.settings.phone:before {
  content: '\e8c5';
}
i.icon.settings.power:before {
  content: '\e8c6';
}
i.icon.settings.remote:before {
  content: '\e8c7';
}
i.icon.settings.system.daydream:before {
  content: '\e1c3';
}
i.icon.settings.voice:before {
  content: '\e8c8';
}
i.icon.share:before {
  content: '\e80d';
}
i.icon.shop:before {
  content: '\e8c9';
}
i.icon.shop.two:before {
  content: '\e8ca';
}
i.icon.shopping.basket:before {
  content: '\e8cb';
}
i.icon.shopping.cart:before {
  content: '\e8cc';
}
i.icon.short.text:before {
  content: '\e261';
}
i.icon.show.chart:before {
  content: '\e6e1';
}
i.icon.shuffle:before {
  content: '\e043';
}
i.icon.signal.cellular.four.bar:before {
  content: '\e1c8';
}
i.icon.signal.cellular.connected.no.internet.4.bar:before {
  content: '\e1cd';
}
i.icon.signal.cellular.no.sim:before {
  content: '\e1ce';
}
i.icon.signal.cellular.null:before {
  content: '\e1cf';
}
i.icon.signal.cellular.off:before {
  content: '\e1d0';
}
i.icon.signal.wifi.four.bar:before {
  content: '\e1d8';
}
i.icon.signal.wifi.four.bar.lock:before {
  content: '\e1d9';
}
i.icon.signal.wifi.off:before {
  content: '\e1da';
}
i.icon.sim.card:before {
  content: '\e32b';
}
i.icon.sim.card.alert:before {
  content: '\e624';
}
i.icon.skip.next:before {
  content: '\e044';
}
i.icon.skip.previous:before {
  content: '\e045';
}
i.icon.slideshow:before {
  content: '\e41b';
}
i.icon.slow.motion.video:before {
  content: '\e068';
}
i.icon.smartphone:before {
  content: '\e32c';
}
i.icon.smoke.free:before {
  content: '\eb4a';
}
i.icon.smoking.rooms:before {
  content: '\eb4b';
}
i.icon.sms:before {
  content: '\e625';
}
i.icon.sms.failed:before {
  content: '\e626';
}
i.icon.snooze:before {
  content: '\e046';
}
i.icon.sort:before {
  content: '\e164';
}
i.icon.sort.by.alpha:before {
  content: '\e053';
}
i.icon.spa:before {
  content: '\eb4c';
}
i.icon.space.bar:before {
  content: '\e256';
}
i.icon.speaker:before {
  content: '\e32d';
}
i.icon.speaker.group:before {
  content: '\e32e';
}
i.icon.speaker.notes:before {
  content: '\e8cd';
}
i.icon.speaker.notes.off:before {
  content: '\e92a';
}
i.icon.speaker.phone:before {
  content: '\e0d2';
}
i.icon.spellcheck:before {
  content: '\e8ce';
}
i.icon.star:before {
  content: '\e838';
}
i.icon.star.border:before {
  content: '\e83a';
}
i.icon.star.half:before {
  content: '\e839';
}
i.icon.stars:before {
  content: '\e8d0';
}
i.icon.stay.current.landscape:before {
  content: '\e0d3';
}
i.icon.stay.current.portrait:before {
  content: '\e0d4';
}
i.icon.stay.primary.landscape:before {
  content: '\e0d5';
}
i.icon.stay.primary.portrait:before {
  content: '\e0d6';
}
i.icon.stop:before {
  content: '\e047';
}
i.icon.stop.screen.share:before {
  content: '\e0e3';
}
i.icon.storage:before {
  content: '\e1db';
}
i.icon.store:before {
  content: '\e8d1';
}
i.icon.store.mall.directory:before {
  content: '\e563';
}
i.icon.straighten:before {
  content: '\e41c';
}
i.icon.streetview:before {
  content: '\e56e';
}
i.icon.strikethrough.s:before {
  content: '\e257';
}
i.icon.style:before {
  content: '\e41d';
}
i.icon.subdirectory.arrow.left:before {
  content: '\e5d9';
}
i.icon.subdirectory.arrow.right:before {
  content: '\e5da';
}
i.icon.subject:before {
  content: '\e8d2';
}
i.icon.subscriptions:before {
  content: '\e064';
}
i.icon.subtitles:before {
  content: '\e048';
}
i.icon.subway:before {
  content: '\e56f';
}
i.icon.supervisor.account:before {
  content: '\e8d3';
}
i.icon.surround.sound:before {
  content: '\e049';
}
i.icon.swap.calls:before {
  content: '\e0d7';
}
i.icon.swap.horiz:before {
  content: '\e8d4';
}
i.icon.swap.vert:before {
  content: '\e8d5';
}
i.icon.swap.vertical.circle:before {
  content: '\e8d6';
}
i.icon.switch.camera:before {
  content: '\e41e';
}
i.icon.switch.video:before {
  content: '\e41f';
}
i.icon.sync:before {
  content: '\e627';
}
i.icon.sync.disabled:before {
  content: '\e628';
}
i.icon.sync.problem:before {
  content: '\e629';
}
i.icon.system.update:before {
  content: '\e62a';
}
i.icon.system.update.alt:before {
  content: '\e8d7';
}
i.icon.tab:before {
  content: '\e8d8';
}
i.icon.tab.unselected:before {
  content: '\e8d9';
}
i.icon.tablet:before {
  content: '\e32f';
}
i.icon.tablet.android:before {
  content: '\e330';
}
i.icon.tablet.mac:before {
  content: '\e331';
}
i.icon.tag.faces:before {
  content: '\e420';
}
i.icon.tap.and.play:before {
  content: '\e62b';
}
i.icon.terrain:before {
  content: '\e564';
}
i.icon.text.fields:before {
  content: '\e262';
}
i.icon.text.format:before {
  content: '\e165';
}
i.icon.textsms:before {
  content: '\e0d8';
}
i.icon.texture:before {
  content: '\e421';
}
i.icon.theaters:before {
  content: '\e8da';
}
i.icon.thumb.down:before {
  content: '\e8db';
}
i.icon.thumb.up:before {
  content: '\e8dc';
}
i.icon.thumbs.up.down:before {
  content: '\e8dd';
}
i.icon.time.to.leave:before {
  content: '\e62c';
}
i.icon.timelapse:before {
  content: '\e422';
}
i.icon.timeline:before {
  content: '\e922';
}
i.icon.timer:before {
  content: '\e425';
}
i.icon.timer.ten:before {
  content: '\e423';
}
i.icon.timer.three:before {
  content: '\e424';
}
i.icon.timer.off:before {
  content: '\e426';
}
i.icon.title:before {
  content: '\e264';
}
i.icon.toc:before {
  content: '\e8de';
}
i.icon.today:before {
  content: '\e8df';
}
i.icon.toll:before {
  content: '\e8e0';
}
i.icon.tonality:before {
  content: '\e427';
}
i.icon.touch.app:before {
  content: '\e913';
}
i.icon.toys:before {
  content: '\e332';
}
i.icon.track.changes:before {
  content: '\e8e1';
}
i.icon.traffic:before {
  content: '\e565';
}
i.icon.train:before {
  content: '\e570';
}
i.icon.tram:before {
  content: '\e571';
}
i.icon.transfer.within.a.station:before {
  content: '\e572';
}
i.icon.transform:before {
  content: '\e428';
}
i.icon.translate:before {
  content: '\e8e2';
}
i.icon.trending.down:before {
  content: '\e8e3';
}
i.icon.trending.flat:before {
  content: '\e8e4';
}
i.icon.trending.up:before {
  content: '\e8e5';
}
i.icon.tune:before {
  content: '\e429';
}
i.icon.turned.in:before {
  content: '\e8e6';
}
i.icon.turned.in.not:before {
  content: '\e8e7';
}
i.icon.tv:before {
  content: '\e333';
}
i.icon.unarchive:before {
  content: '\e169';
}
i.icon.undo:before {
  content: '\e166';
}
i.icon.unfold.less:before {
  content: '\e5d6';
}
i.icon.unfold.more:before {
  content: '\e5d7';
}
i.icon.update:before {
  content: '\e923';
}
i.icon.usb:before {
  content: '\e1e0';
}
i.icon.verified.user:before {
  content: '\e8e8';
}
i.icon.vertical.align.bottom:before {
  content: '\e258';
}
i.icon.vertical.align.center:before {
  content: '\e259';
}
i.icon.vertical.align.top:before {
  content: '\e25a';
}
i.icon.vibration:before {
  content: '\e62d';
}
i.icon.video.call:before {
  content: '\e070';
}
i.icon.video.label:before {
  content: '\e071';
}
i.icon.video.library:before {
  content: '\e04a';
}
i.icon.videocam:before {
  content: '\e04b';
}
i.icon.videocam.off:before {
  content: '\e04c';
}
i.icon.videogame.asset:before {
  content: '\e338';
}
i.icon.view.agenda:before {
  content: '\e8e9';
}
i.icon.view.array:before {
  content: '\e8ea';
}
i.icon.view.carousel:before {
  content: '\e8eb';
}
i.icon.view.column:before {
  content: '\e8ec';
}
i.icon.view.comfy:before {
  content: '\e42a';
}
i.icon.view.compact:before {
  content: '\e42b';
}
i.icon.view.day:before {
  content: '\e8ed';
}
i.icon.view.headline:before {
  content: '\e8ee';
}
i.icon.view.list:before {
  content: '\e8ef';
}
i.icon.view.module:before {
  content: '\e8f0';
}
i.icon.view.quilt:before {
  content: '\e8f1';
}
i.icon.view.stream:before {
  content: '\e8f2';
}
i.icon.view.week:before {
  content: '\e8f3';
}
i.icon.vignette:before {
  content: '\e435';
}
i.icon.visibility:before {
  content: '\e8f4';
}
i.icon.visibility.off:before {
  content: '\e8f5';
}
i.icon.voice.chat:before {
  content: '\e62e';
}
i.icon.voicemail:before {
  content: '\e0d9';
}
i.icon.volume.down:before {
  content: '\e04d';
}
i.icon.volume.mute:before {
  content: '\e04e';
}
i.icon.volume.off:before {
  content: '\e04f';
}
i.icon.volume.up:before {
  content: '\e050';
}
i.icon.vpn.key:before {
  content: '\e0da';
}
i.icon.vpn.lock:before {
  content: '\e62f';
}
i.icon.wallpaper:before {
  content: '\e1bc';
}
i.icon.warning:before {
  content: '\e002';
}
i.icon.watch:before {
  content: '\e334';
}
i.icon.watch.later:before {
  content: '\e924';
}
i.icon.wb.auto:before {
  content: '\e42c';
}
i.icon.wb.cloudy:before {
  content: '\e42d';
}
i.icon.wb.incandescent:before {
  content: '\e42e';
}
i.icon.wb.iridescent:before {
  content: '\e436';
}
i.icon.wb.sunny:before {
  content: '\e430';
}
i.icon.wc:before {
  content: '\e63d';
}
i.icon.web:before {
  content: '\e051';
}
i.icon.web.asset:before {
  content: '\e069';
}
i.icon.weekend:before {
  content: '\e16b';
}
i.icon.whatshot:before {
  content: '\e80e';
}
i.icon.widgets:before {
  content: '\e1bd';
}
i.icon.wifi:before {
  content: '\e63e';
}
i.icon.wifi.lock:before {
  content: '\e1e1';
}
i.icon.wifi.tethering:before {
  content: '\e1e2';
}
i.icon.work:before {
  content: '\e8f9';
}
i.icon.wrap.text:before {
  content: '\e25b';
}
i.icon.youtube.searched.for:before {
  content: '\e8fa';
}
i.icon.zoom.in:before {
  content: '\e8ff';
}
i.icon.zoom.out:before {
  content: '\e900';
}
i.icon.zoom.out.map:before {
  content: '\e56b';
}


/*******************************
         Site Overrides
*******************************/

