<template>
    <require from="../../styles/semantic/semantic.material.min.css"></require>
    <require from="../../styles/immport.css"></require>

    <require from="./layout-nav"></require>
    <require from="./layout-footer"></require>

    <div class="pusher">
        <layout-nav router.bind="router"></layout-nav>
        <router-view></router-view>
        <layout-footer></layout-footer>
    </div>

    <script>
        $(document).ready(function () {
            $('.ui.accordion').accordion('refresh');

            // fix main menu to page on passing
            $('.main.menu').visibility({type: 'fixed'});
            $('.overlay').visibility({type: 'fixed', offset: 80});

            // lazy load images
            $('.image').visibility({type: 'image', transition: 'vertical flip in', duration: 500});

            // show dropdown on hover
            $('.main.menu  .ui.dropdown').dropdown({on: 'hover'});
        });
    </script>
</template>
