<template>
    <require from='./layout-nav.css'></require>
    <div class="ui borderless fixed main menu inverted">
        <div class="ui container">
            <a  href="#" class="header item">
                <img class="logo" src="assets/images/immport-logo.svg">
                ImmPort AWS
            </a>
            <div class="right menu">
                <div class="vertically fitted borderless item"></div>
                <a class="popup icon bitbucket item" data-content="View project on Bitbucket" href="https://bitbucket.org/bisc2012/immport-aws" target="_blank">
                    <i class="alternate bitbucket icon"></i>
                </a>
            </div>
        </div>
    </div>
</template>
