<template>
    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable relaxed divided grid">
                    <div class="five wide column">
                        <h4 class="ui inverted header">
                            Sponsors
                        </h4>
                        <div class="ui inverted link list">
                            <a class="item" href="http://www.niaid.nih.gov/Pages/default.aspx" target="_blank">National Institute of Allergy and Infectious Diseases (NIAID)</a>
                            <a class="item" href="http://www.nih.gov/" target="_blank">National Institutes of Health (NIH)</a>
                            <a class="item" href="http://www.hhs.gov/" target="_blank">Health and Human Services (HHS)</a>
                        </div>
                    </div>
                    <div class="six wide column"></div>
                    <div class="five wide column">
                        <h4 class="ui inverted header">
                            Connect with Us
                        </h4>
                        <div class="ui inverted link list">
                            <a class="item icon twitter" href="https://twitter.com/#!/ImmPortDB" style="text-decoration: none" target="_blank">
                                <i class="alternate twitter icon"></i>
                                Twitter
                            </a>
                            <a class="item icon rss" href="/immport-open/resources/rss/newsfeed.xml" style="text-decoration: none" target="_blank">
                                <i class="alternate rss icon"></i>
                                RSS
                            </a>
                            <a class="item icon google" href=" https://groups.google.com/d/forum/immport" style="text-decoration: none" target="_blank">
                                <i class="alternate google icon"></i>
                                Google Group
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <img src="assets/images/immport-logo.svg" class="ui centered small image">
            </div>
        </div>
    </footer>
</template>
