body {
    background: #F9F9F9;
}


/*******************************
        Highlighted Colors
*******************************/

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection {
    background-color: #F9F9F9;
    color: #222222;
}

h1::selection, h2::selection, h3::selection {
    background-color: #F9F9F9;
    color: #222222;
}

.ui *::-moz-selection {
    background-color: #F9F9F9;
}

.ui *::selection {
    background-color: #F9F9F9;
}


/*--------------
     Sidebar
---------------*/

#immport #menu>:last-child {
    padding-bottom: 2em;
}

#immport #menu .logo.image {
    width: 35px;
    margin-right: 1em;
}

#immport #menu .item {
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#immport #menu .item .circular.label {
    position: absolute;
    top: 0.75rem;
    right: 1em;
    opacity: 0.2;
    transition: background 0.3s ease;
}

#immport #menu .item.active>.circular.label, #immport #menu .item:hover>.circular.label {
    opacity: 0.8;
}

#immport #menu .inverted.header {
    font-size: 1em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5em;
}

#immport #menu .hide.item {
    display: none;
}

#immport #menu .menu .active.item {
    color: #6DFFFF !important;
}

#immport .ui.message {
    line-height: 1.6;
}


/* segment headers */

#immport .header.segment, #immport>.content>.page>.segment, #immport>.header.segment {
    position: relative;
    z-index: 2;
    margin: 0em;
    min-height: 120px;
    padding-top: 80px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDDDDD;
}

#immport .header.segment h1 {
    margin-bottom: 0em;
}

#immport .tab.header.segment {
    padding-bottom: 0em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}

#immport .tab.header.segment .vertical.menu {
    display: none;
    margin: 2rem 0em 1rem;
}

#immport .tab.header.segment .tabular.menu {
    clear: both;
    margin: 2rem 0px 0em;
    border-bottom: none;
}

#immport .tab.header.segment .tabular.menu .active.item {
    background-color: #F9F9F9;
    border-bottom-color: #F9F9F9;
}

#immport.legacy .main.menu, #immport.legacy .launch.button {
    left: auto !important;
}

#immport.scale.down.pushed .header.segment {
    padding-top: 30px;
}

#immport.divider .ui.grid {
    position: relative;
}

#immport.dim .segment .wireframe.image {
    margin-bottom: 0em;
}

#immport .download.menu {
    margin-top: 0em;
    margin-bottom: 3rem;
}

#immport .main.menu {
    top: 0px;
    left: -1px;
    width: calc(100% + 1px);
}

#immport .main.menu iframe {
    margin: 0px 0px 0px 0px;
}


/* lists */

#immport .features {
    list-style-position: inside;
    margin: 10px 0px 0px;
    padding: 0px;
}

#immport .features li {
    list-style-type: disc;
    margin: 0px 0px 10px;
    font-weight: bold;
}


/*--------------
  Fixed Columns
---------------*/

#immport .fixed.column {
    position: absolute;
    right: 2em;
    top: 0px;
    width: 300px;
}

#immport .tab.header.segment .fixed .tabular.menu {
    position: fixed;
    top: 50px;
}

#immport .fixed .launch {
    display: none;
}

#immport .fixed.column .sticky {
    padding-top: 4em;
}


/*--------------
    Masthead
---------------*/

body#immport.pushed, body#immport.hide {
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: masthead;
    -moz-animation-name: masthead;
    -o-animation-name: masthead;
    animation-name: masthead;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    -ms-animation-duration: 30s;
    -o-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#immport .masthead .grid {
    position: relative;
    z-index: 2;
}

#immport .masthead .column {
    display: table;
}

#immport .introduction {
    font-size: 16px;
    display: table-cell;
    padding: 20px 0px;
    vertical-align: top;
    width: 100%;
}

#immport .introduction .header {
    margin-bottom: 0em;
    color: #D9499A;
}

#immport .introduction .theme.buttons {
    margin: -0.1em 0em 0em 0.5em;
    vertical-align: middle;
}


/*--------------
     Footer
---------------*/

#immport .footer.link.list {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}


/*--------------
  Transparent
---------------*/

.ui.transparent.menu {
    opacity: 0.95;
}

#immport.pushable.left.overlay .fixed.launch.button {
    transform: translate3d(0, 0, 0);
}

#immport.pushable.overlay.left.pushed .fixed.launch.button {
    transform: translate3d(260px, 0, 0);
}

#immport .fixed.launch.button {
    position: fixed;
    top: 97px;
    left: -1px;
    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.3s width ease, 0.5s transform ease;
    -moz-transition: 0.3s width ease, 0.5s transform ease;
    -o-transition: 0.3s width ease, 0.5s transform ease;
    -ms-transition: 0.3s width ease, 0.5s transform ease;
    transition: 0.3s width ease, 0.5s transform ease;
}

#immport .fixed.launch.button .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition: 0.3s opacity 0.3s;
    -moz-transition: 0.3s opacity 0.3s;
    -o-transition: 0.3s opacity 0.3s;
    -ms-transition: 0.3s opacity 0.3s;
    transition: 0.3s opacity 0.3s;
}

#immport .fixed.launch.button:hover {
    width: 130px;
}

#immport .fixed.launch.button:hover .text {
    opacity: 1;
}

#immport .shortcuts {
    float: right;
    clear: both;
}

#immport .launch.button .icon {
    margin-left: 0px;
}


/*----------------
   Overview Mode
-----------------*/

#immport .right.floated.overview.button {
    margin-bottom: 0.5em;
}

#immport.overview h2.ui.header {
    margin-bottom: 0.5em;
}


/*----------------
      Footer
-----------------*/

#immport .pusher>.footer {
    margin: 0em;
    border-radius: 0em;
    padding: 5em 0em 6em;
}


/*----------------
  Settings Table
-----------------*/

#immport .settings.table {
    margin-bottom: 20px;
}

#immport .settings.table td:first-child {
    font-weight: bold;
}

#immport .settings.table td:nth-child(2n) {
    width: 100px;
}

#immport .segment pre {
    margin: 0em;
    padding: 0em;
}

#immport .segment pre .code {
    margin: 0em;
    padding: 0em;
    max-height: 610px;
    font-weight: normal;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#immport table .instructive.segment {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    padding: 0em;
}

#immport .ui.label+.instructive.segment {
    margin-top: 0em;
}

#immport .instructive.segment:after {
    display: none;
}

#immport .instructive.segment em {
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
}

#immport .instructive.segment .title+em {
    float: right;
}

#immport .label+.code {
    margin-top: 1.5em;
}

#immport .ui.list .list>.item, #xample .ui.list>.item {
    font-size: 16px;
}

#immport .very.basic.padded.table th, #immport .very.basic.padded.table td {
    padding: 1.2em;
}

#immport .existing.segment:after, #immport .instructive.segment:after {
    display: none;
}


/* Requires Clear */

#immport .main.container:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

#immport .accordion.pointing.menu>.item {
    padding-left: 0em;
}

#immport .main.container {
    font-size: 15px;
}

#immport .main.container>h2, #immport .main.container>.tab>h2 {
    position: relative;
    margin: 2em 0rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 0.5em;
}

#immport .main.container>h3 {
    position: relative;
    margin: 4em 0 1rem;
}

#immport .main.container>h2+h3 {
    margin-top: 2em;
}

#immport .main.container>h4 {
    position: relative;
    margin: 2em 0 1rem;
}

#immport .main.container>p {
    font-family: "Karma", "Times New Roman";
    font-size: 18px;
    line-height: 1.5;
    margin: 1.5em 0em;
}

#immport .main.container>h2+p, #immport .main.container>.tab>h2+p, #immport .main.container>h3+p, #immport .main.container>h4+p {
    margin-top: 1em;
}

#immport .main.container>.rail+h2, #immport .main.container>.tab>.rail+h2, #immport .main.container>h2:first-child, #immport .main.container>.tab>h2:first-child {
    margin-top: 1.5em;
}


/*--------------
   Code Button
---------------*/

#immport .pointing.label+.existing.segment {
    margin-top: 0em;
}

#immport .existing.code {
    display: none;
}


/* Fixes for UI */

#immport .segment>.dimmer {
    z-index: 800;
}

#immport .code .active.ui.modal {
    display: none !important;
}


/*******************************
           UI Pages
*******************************/


/*--------------
      Grid
---------------*/


/* Consecutive */

#immport .ui.type.cards .image .grid .column:not(.grid):first-child {
    box-shadow: none;
}

#immport .ui.type.cards .image .grid .column:not(.grid) {
    min-height: 50px;
}

#immport .ui.type.cards .image .grid .segment {
    border-radius: 0px;
    box-shadow: 0 0 0 1px #D4D4D4;
}


/*--------------
      Progress
---------------*/

body.progress.animated .ui.progress .bar {
    -webkit-animation: finish 10s ease-in-out infinite;
    -moz-animation: finish 10s ease-in-out infinite;
    -ms-animation: finish 10s ease-in-out infinite;
    animation: finish 10s ease-in-out infinite;
}


/*--------------
      Popup
---------------*/

#immport .main.ui.grid {
    position: relative;
}


/*--------------
    List Page
---------------*/

#immport .element.cards .image {
    overflow: hidden;
    min-height: 100px;
}

#immport .collection.cards {
    min-height: 350px;
}

#immport .ui.type.cards>.item {
    min-height: 255px;
}

#immport .ui.type.cards>.item>.image {
    padding: 1em;
    height: 165px;
    vertical-align: middle;
}


/*--------------
      Header
---------------*/

#immport.header .sizer {
    padding: 1rem 0em;
}


/*--------------
      Flag
---------------*/

#immport.flag .basic.table tbody td:first-child {
    width: 20px;
}


/*******************************
         Code Samples
*******************************/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0em;
    color: #666;
    background-color: transparent;
    -webkit-text-size-adjust: none;
}


/*--------------
    Hover Only
---------------*/

.hljs, .hljs span {
    -moz-transition: 0.5s color ease;
    -webkit-transition: 0.5s color ease;
    -ms-transition: 0.5s color ease;
    transition: 0.5s color ease;
}

.hljs {
    color: #333333;
}

.hljs.xml {
    color: #555555;
}

.hljs.xml:hover {
    color: #333333;
}


/* Class Name */

.hljs-string, .hljs-tag .hljs-value, .hljs-phpdoc, .hljs-dartdoc, .tex .hljs-formula {
    color: #009991;
}

.code:hover .hljs-string, .code:hover .hljs-tag .hljs-value, .code:hover .hljs-phpdoc, .code:hover .hljs-dartdoc, .code:hover .tex .hljs-formula {
    color: #009991;
}


/* Comment */

.hljs-comment, .hljs-template_comment, .diff .hljs-header, .hljs-javadoc {
    color: #AAAAAA;
    font-style: italic;
}


/* Properties */

.hljs-tag, .hljs-rules .hljs-property, .django .hljs-tag .hljs-keyword {
    color: #999999;
    font-weight: normal;
}

.code:hover .hljs-tag, .code:hover .hljs-rules .hljs-property, .code:hover .django .hljs-tag .hljs-keyword {
    color: #892A6F;
    font-weight: normal;
}


/* HTML Tag */

.hljs-tag .hljs-title {
    color: #7E7079;
    font-weight: normal;
}

.code:hover .hljs-tag .hljs-title {
    color: #892A6F;
}


/* Attribute */

.hljs-attribute, .hljs-variable, .lisp .hljs-body {
    color: #8E6E6E;
    transition: color 0.3s;
}

.code:hover .hljs-attribute, .code:hover .hljs-variable, .code:hover .lisp .hljs-body {
    color: #934E4E;
}


/* CSS ID */

.hljs-title, .hljs-id, .scss .hljs-preprocessor {
    color: #009FDA;
    font-weight: bold;
}


/* CSS Attribute */

.hljs-rule .hljs-attribute {
    color: #892A6F;
}

.code:hover .hljs-rule .hljs-attribute {
    color: #892A6F;
}


/* CSS Value */

.hljs-number, .hljs-hexcolor, .ruby .hljs-constant {
    color: #666666;
}

.code:hover .hljs-number, .code:hover .hljs-hexcolor, .code:hover .ruby .hljs-constant {
    color: #333333;
}


/*--------------
      Normal
---------------*/

.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .javascript .hljs-title, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
    color: #333;
    font-weight: bold;
}

.javascript .hljs-title, .hljs-list .hljs-keyword, .hljs-subst {
    font-weight: normal;
}

.hljs-class .hljs-title, .hljs-type, .vhdl .hljs-literal, .tex .hljs-command {
    color: #458;
    font-weight: bold;
}

.hljs-regexp {
    color: #009926;
}

.hljs-built_in {
    color: #0086b3;
}

.hljs-preprocessor, .hljs-pragma, .hljs-pi, .hljs-doctype, .hljs-shebang, .hljs-cdata {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.diff .hljs-change {
    background: #0086b3;
}

.hljs-chunk {
    color: #aaa;
}


/*******************************
      Accordion
*******************************/

#immport .ui.styled.accordion {
    background-color: #F9F9F9;
}

.ui.borderless.menu .item img.logo {
    margin-right: 1.5em;
}


/*******************************
      Definition Container
*******************************/

#immport .pusher>.footer {
    clear: both;
}

#immport .main.container {
    background-color: #F9F9F9;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: 0px auto 0px;
    padding: 3em 3em 5em;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 1;
}

#immport .wide.main.container {
    width: 80%;
    margin: 0 auto;
    right: 0;
    max-width: 1140px;
}

#immport .main.container .left.rail .sticky {
    padding: 4em 0em 0em;
}

#immport .container {
    position: relative;
    width: 700px;
    margin: 0px auto;
}

#immport .following.menu .menu .active.item {
    font-weight: bold;
}

#immport .following.menu .item .menu {
    margin: 0em;
}

#immport .following.menu .menu .item {
    margin: 0em;
    padding: 0.5rem 0.25rem;
}

@media only screen and (max-width: 400px) {
    #immport .advertisement {
        max-width: 260px;
    }
}

@media only screen and (max-width: 600px) {
    #immport .solid, #immport .stripe {
        padding: 4em 0em;
    }
    #immport .pusher>.footer {
        padding: 2em 0em;
    }
    #immport .container {
        width: auto;
        margin: 0em 1rem;
    }
    #immport .main.container {
        padding: 1em;
        box-shadow: none;
    }
    #immport .header.segment {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    #immport .main.container>p {
        padding: 1em 0em;
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 998px) {
    #immport .container {
        width: auto;
        margin: 0em 2rem;
    }
    #immport .header .button {
        margin-bottom: 0.5em;
    }
    #immport .main.container {
        font-size: 14px;
    }
    #immport .main.container>p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 998px) {
    #immport .introduction {
        font-size: 14px;
        padding: 1em 0em;
    }
    #immport .pusher>.page {
        display: block;
        width: 100%;
        height: auto;
    }
    #immport .header.segment {
        background-color: #F9F9F9;
    }
    #immport .main.container {
        padding: 3em 2em;
        border: none;
    }
    #immport .following.menu {
        display: none;
    }
}

@media only screen and (min-width: 998px) {
    #immport .following.menu {
        display: block;
    }
    #immport .tab.header.segment .tabular.menu {
        width: 600px;
    }
    #immport .container {
        left: -100px;
        width: 600px;
    }
    #immport .main.container {
        padding-left: 2em;
        padding-right: 2em;
    }
    #immport .main.container>p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 998px) and (max-width: 1230px) {
    #immport .left.rail {
        left: 100%;
        right: auto;
        margin: 1.5em 0em 0em 2em !important;
        width: 300px;
    }
    #immport .header.segment .container {
        width: 900px;
        left: 100px;
    }
}

@media only screen and (min-width: 1230px) {
    #immport .container {
        left: 0;
        width: 1085px;
    }
    #immport .main.container>p {
        font-size: 16px;
    }
    #immport .main.container {
        left: 164px;
        width: 700px;
    }
}

@media only screen and (min-width: 1620px) {
    #immport .container {
        left: -164px;
        width: 1085px;
    }
    #immport .main.container {
        left: 0px;
        right: -164px;
        width: 700px;
    }
    #immport .introduction {
        display: block;
    }
    #immport .advertisement {
        left: 100%;
        position: absolute;
        top: 0em;
        vertical-align: top;
    }
}


/*******************************
          Responsive
*******************************/

@media only screen and (max-width: 998px) {
    #immport .fixed .section, #immport .fixed .title b {
        display: none;
    }
    #immport .fixed .container {
        width: auto;
        margin: 0px auto;
        max-width: 9999px;
    }
    #immport .fixed.launch.button {
        display: none;
    }
    #immport .fixed .launch {
        cursor: pointer;
        display: inline-block;
    }
}

@media only screen and (max-width: 780px) {
    pre.console {
        height: 150px;
    }
    #immport .introduction {
        display: block;
    }
    #immport #menu .hide.item {
        display: block;
    }
    #immport #menu .item>.icon {
        font-size: 1em !important;
    }
    #immport:not(.index) .introduction .button {
        float: none;
        margin: 0 0.5em 0.5em 0;
    }
}

@media only screen and (max-width: 600px) {
    #immport .main.menu .borderless.item {
        display: none;
    }
    #immport .fixed .developer, #immport .fixed .designer, #immport .fixed .previous, #immport .fixed .next {
        display: none;
    }
    #immport .tab.header.segment .tabular.menu {
        display: none;
    }
    #immport .tab.header.segment .vertical.menu {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    #immport .main.menu .icon.item {
        display: none;
    }
    #immport .main.menu .github.item {
        display: inline-block;
    }
    #immport .main.menu .github.item:before {
        display: none;
    }
    #immport .carbonad {
        height: auto;
    }
    #immport .carbonad .carbonad-text {
        width: 90px;
    }
}

#immport .masthead .mobile.buttons {
    display: none;
}

@media only screen and (max-width: 470px) {
    #immport .masthead .tag.label {
        display: none;
    }
    #immport .masthead .inverted.buttons {
        display: none;
    }
    #immport .masthead .mobile.buttons {
        display: block;
    }
    #immport.button-page .ui.buttons, #immport.button-page:not(.buttons) .ui.button {
        margin-bottom: 0.5em;
    }
    #immport .masthead:before {
        -webkit-animation-name: none;
        -moz-animation-name: none;
        -o-animation-name: none;
        animation-name: none;
    }
}

@media only screen and (max-width: 640px) {
    #immport .language.dropdown .menu {
        overflow-x: hidden;
        overflow-y: auto;
        backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
        max-height: 316px;
    }
    #immport.transition .fixed.column {
        display: none;
    }
}

@media only screen and (max-width: 998px) {
    #immport .fixed.column, #immport .fixed.column .fixed {
        width: 200px;
    }
}

@media only screen and (min-width: 998px) {
    #immport .fixed.column, #immport .fixed.column .fixed {
        width: 250px;
    }
    #immport>.pusher {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    #immport>.pusher>.full.height {
        flex: 1;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #immport>.pusher>.full.height {
        flex: none;
    }
}
