<template>
    <div id="immport" class="full height">
        <div class="ui header segment">
            <div class="ui container">
                <div class="introduction">
                    <h2 class="ui huge header">
                        Nothing to see here
                    </h2>
                </div>
            </div>
        </div>
    </div>
</template>
