@media only screen and (min-width: 1200px) {
    .right.rail {
        left: 827px !important;
    }
    .ui.demo.container {
        margin-left: calc((100% - 1127px)/2) !important;
        margin-right: 387px !important;
    }
    .ui.demo.container > .tab {
        width: 827px;
    }
    #content .vertical.segment:not(.center) .container {
        width: 827px;
        margin-left: calc((100% - 1127px)/2) !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .right.rail {
        left: 732px !important;
        width: 200px !important;
    }
    .ui.demo.container {
        margin-left: calc((100% - 933px)/2) !important;
        margin-right: 250px !important;
    }
    .ui.demo.container > .tab {
        width: 732px;
    }
    #content .vertical.segment:not(.center) .container {
        width: 732px;
        margin-left: calc((100% - 933px)/2) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .right.rail {
        left: 550px !important;
        width: 160px !important;
    }
    .ui.demo.container {
        margin-left: calc((100% - 723px)/2) !important;
        margin-right: 250 !important;
    }
    .ui.demo.container > .tab {
        width: 550px;
    }
    #content .vertical.segment:not(.center) .container {
        width: 550px;
        margin-left: calc((100% - 723px)/2) !important;
    }
}

@media only screen and (max-width: 767px) {
    .right.rail {
        display: none;
    }
    .ui.demo.container {
        margin-left: auto;
        margin-right: auto;
    }
    .ui.demo.container > .tab {
        width: auto;
    }
    #content .vertical.segment .container {
        width: auto;
    }
}
